<h1><%= Report.model_name.human %></h1>

<table>
  <thead>
    <tr>
      <th><%= Report.human_attribute_name(:title) %></th>
      <th><%= Report.human_attribute_name(:content) %></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
    <tr>
      <td><%= report.title %></td>
      <td><%= report.content %></td>
      <td><%= link_to t('views.common.show'), report %></td>
      <% if current_user == report.user %>
      <td><%= link_to t('views.common.edit'), edit_book_path(report) %></td>
      <td>
        <%= link_to t('views.common.destroy'), report, method: :delete, data: { confirm: t('views.common.delete_confirm') } %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('views.common.new'), new_report_path %>