
<p>
  <strong><%= Report.human_attribute_name(:title) %></strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) %></strong>
  <%= @report.content %>
</p>
<p>
  <strong><%= Report.human_attribute_name(:created_at) %></strong>
  <%= l(@report.created_at.in_time_zone('Tokyo'), format: :long) %>
</p>

<% if current_user == @report.user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |  
<% end %>

<%= link_to t('views.common.back'), reports_path %>

<p>
  <%= render partial: 'comments/comments', locals: { commentable: @report } %>
</p>

